*.pem
Ansible/ssh
.terraform/*
.terraform.lock.hcl
AnsibleAZ/awscliv2.zip
Azure/result.json
k8s-project/k8s-web-hello-nginx/package-lock.json
learn-terraform-gcp/.terraform/environment
learn-terraform-gcp/.terraform/terraform.tfstate
learn-terraform-gcp/.terraform/providers/registry.terraform.io/hashicorp/google/6.8.0/linux_amd64/LICENSE.txt
learn-terraform-gcp/.terraform/providers/registry.terraform.io/hashicorp/google/6.8.0/linux_amd64/terraform-provider-google_v6.8.0_x5
Terraform/.terraform/environment
Terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.0.2/linux_amd64/terraform-provider-azurerm_v3.0.2_x5
Terraform/terraform-azure/terraform.tfstate.backup
Terraform/terraform-azure/.terraform/environment
Terraform/terraform-azure/.terraform/terraform.tfstate
Terraform/terraform-azure/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.0.2/linux_amd64/terraform-provider-azurerm_v3.0.2_x5
Terraform/terraform.tfstate.d/DevWorkspace/terraform.tfstate
Terraform/terraform.tfstate.d/DevWorkspace/terraform.tfstate.backup
